**/.idea
**/.vscode
**/.swiftpm
**/.build
**/.DS_Store
**/*.lock
/rust-src-semver
/generated
/target

.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

/.vscode